.{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
span{
    color: green;
}
.contact {
  background:black;
  min-height: 100vh;
  padding: 60px 20px;
  color: white;
  margin-left: 300px;
}

.contact h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}
.contact1{
    margin: 0;
    justify-content: center;
    padding: 25px;
}
fieldset{
    border: none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

  button  { border-radius: 10px;
    border: 20px;
    border: 2px solid black;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    width: 300px;

}
.contact h2 span {
  color:green;
}
#header{
    width: 100%;
    height: 70vh;
    margin-top: 40px;
    margin-left: 10%;

}  
.joy{
    gap: 5px;
    display: flex;
} 
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 50px;
}
.header-text h1 span{
    color: green;
}
.joy2 {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 40px auto;
    padding: 6px;
    border-radius: 10%;
    overflow: hidden;

    background: linear-gradient(120deg, yellowgreen, green, white);
    background-size: 300% 300%;

    animation:
        joyGlow 4s linear infinite,
        floaty 3s ease-in-out infinite;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.joy2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background: black;
    z-index: 2;
    position: relative;
}










@keyframes joyGlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }