* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  min-height: 100vh;
}
body{
    background-color: black;
    color: white;
  min-height: 100vh;
}
.span{
    color: green;
}
#header{
    width: 80%;
    height: 70vh;
    margin-top: 40px;
    margin-left: 10%;

}  


.vertical-menu a.active {
  background-color: rgb(58, 191, 58);
  color: white;
}
.joy{
    gap: 300px;
    display: flex;
     margin-top: 5%;
} 
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 50px;
}
.header-text h1 span{
    color: green;
}
.joy2 {
    position: relative;
    width: 350px;
    height: 400px;
    margin: 40px auto;
    padding: 6px;
    border-radius: 10%;
    overflow: hidden;

    background: linear-gradient(120deg, yellowgreen, green, white);
    background-size: 300% 300%;

    animation:
        joyGlow 4s linear infinite,
        floaty 3s ease-in-out infinite;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.joy2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    background: black;
    z-index: 2;
    position: relative;
}










@keyframes joyGlow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 300% 50%;
    }
}

@keyframes floaty {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}

@keyframes ripple {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }


