

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
span{
    color: green;
}
.projects {

  min-height: 100vh;
  padding: 60px 20px;
  color: white;
}

.projects h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.projects h2 span {
  color: green;
}

.project-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.project-card {
  background: rgba(255, 255, 255, 0.15);
  width: 300px;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(10px);
  transition: transform 0.3s, background 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
  background: rgba(255, 255, 255, 0.25);
}

.project-card .icon {
  font-size: 35px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin-bottom: 10px;
}
