*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background-color: black;
    color: white;

}
span{
    color: green;
}
#header{
    width: 100%;
    height: 70vh;
    margin-top: 40px;
    margin-left: 10%;

}  
.joy{
    gap: 5px;
    display: flex;
} 
.header-text{
    margin-top: 7%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 50px;
}
.about-col-1{
    flex-basis: 60%;
}
button{
    border-radius: 10px;
    border: 20px;
    border: 2px solid black;
    display: inline-flex;
    justify-content: center;
    margin: 10px;
    width: 300px;

}




.vertical-menu a:hover {
  background-color: #ccc;
  color: black;
}


.vertical-menu a.active {
  background-color: rgb(58, 191, 58);
  color: white;
}
.kemi{
 position: relative;
    width: 350px;
    height: 400px;
    margin: 40px auto;
    padding: 6px;
    border-radius: 10%;
    background: rgb(4, 33, 4);   
       animation:
        joyGlow 4s linear infinite,
        floaty 3s ease-in-out infinite;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}
#position{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    color: white;
}
.position3{
    top: 200px;
    left: 300px;
}
.position2{
    top: 100px;
    left: 300px;
}
.position1{
    top: 20px;
    right: 400px;
}

.position4{
    top: 150px;
    right: 400px;
}

.position5{
    top: 270px;
    right: 400px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;

}